<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Surreal</title>
		<link rel="shortcut icon" href="assets/favicon.png">

		<!-- Bootstrap -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="../css/style.css" rel="stylesheet">

		<!-- Superslides CSS -->
		<link href="../css/superslides.css" rel="stylesheet">

		<!-- Owl Carousel stylesheets -->
		<link href="../css/owl.carousel.css" rel="stylesheet">
		<link href="../css/owl.theme.css" rel="stylesheet">

		<!-- Fancybox -->
		<link href="../css/jquery.fancybox.css" rel="stylesheet">

		<!-- Animate - necessary for Wow.js -->
		<link href="../css/animate.css" rel="stylesheet">

		<!-- Google Fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700|Oranienbaum|PT+Serif:400italic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

		<!-- Font Awesome Icons -->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="../js/html5shiv.js"></script>
		<script src="../js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body data-spy="scroll" data-target=".navbar-collapse">

		<!-- ========== MENU START ========== -->

		<div class="navbar navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">
						<img src="assets/surreal_wedding_photography.jpg" alt=" " class="img-responsive" />
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#home">HOME</a></li>
				
		                <li><a href="#portfolio">PORTFOLIO</a></li>

						<li><a href="#about">ABOUT ME</a></li>

						<li><a href="#reviews">REVIEWS</a></li>

						<li><a href="#pricing">PRICING</a></li>

						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- ========== MENU END ========== -->

		<!-- ========== BANNER START ========== -->

		<div id="banner">
			<div class="slider">
				<div class="slides-container">
					<img src="assets/homepage/bmw_profile_pic.jpg" alt="" />
					<img src="assets/homepage/hawaii_beach.jpg" alt="" />
					<img src="assets/homepage/tj.jpg" alt="" />
					<img src="assets/homepage/tj2.jpg" alt="" />
				</div>
			</div>
			<div class="tint">
				<div class="welcome text-center">
					<h1><span>WELCOME TO</span> RB STUDIOS</h1>
					<h3>A PROFESSIONAL PHOTOGRAPHY AGENCY</h3>
					<p><a href="#about" class="btn btn-default btn-lg">BEGIN</a></p>
				</div>
			</div>
		</div>

		<!-- ========== BANNER END ========== -->

		<div id="home"></div>

        <!-- ========== PORTFOLIO START ===== -->
		<section id="portfolio">
			<div class="parallax" data-velocity=".4" data-fit="-400" style="background-image: url(http://placehold.it/1920x1080)"></div>
			<div class="tint"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="wow fadeInLeftBig" data-wow-delay="0.3s">PORTFOLIO</h2>
						<h4 class="wow fadeInRightBig" data-wow-delay="0.5s">SEE OUR WORK</h4>
						<div class="divider"><i class="fa fa-user"></i></div>
						<p> 

						</p>
					</div>
				</div>
				<div class="row wow fadeInUpBig" data-wow-delay="0.5s">
					<div class="col-md-12 text-center">



  <!--- copied below code from here http://www.w3schools.com/bootstrap/bootstrap_carousel.asp --->
  <!--- code for tabs weddings/portraits/lifestyle/events is copied from http://jsfiddle.net/stanze/3hJ46/67/ -->
  
    
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  						<ol class="carousel-indicators">
    						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    						<li data-target="#myCarousel" data-slide-to="1"></li>
    						<li data-target="#myCarousel" data-slide-to="2"></li>
    						<li data-target="#myCarousel" data-slide-to="3"></li>
  						</ol>

  						<!-- Wrapper for slides -->
  						<div class="carousel-inner" role="listbox">
    						<div class="item active">
      							<img src="assets/homepage/bmw_profile_pic.jpg" alt="Chania">
    						</div>

    						<div class="item">
      							<img src="assets/homepage/hawaii_beach.jpg" alt="Chania">
    						</div>

    						<div class="item">
      							<img src="assets/homepage/tj.jpg" alt="Flower">
    						</div>

    						<div class="item">
      							<img src="assets/homepage/tj2.jpg" alt="Flower">
    						</div>
  						</div>

  						<!-- Left and right controls -->
  						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   							 <span class="sr-only">Previous</span>
  						</a>
 						 <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    						<span class="sr-only">Next</span>
  						</a>
					</div> <!-- end div id="myCarousel" -->


				</div>
			</div>
		</div>
		</section>

		<!-- ========== PORTFOLIO END ========== -->


        <!-- ========== About Me STARTS ======== -->
		<section id="about">
			<div class="container">

				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="wow fadeInLeftBig" data-wow-delay="0.3s">ABOUT ME</h2>
						<h4 class="wow fadeInRightBig" data-wow-delay="0.5s">EVERYONE HAS A STORY</h4>
						<div class="divider"><i class="fa fa-user"></i></div>
					</div>
				</div>

				<div class="row">

					<div class="col-sm-7 post-thumb wow fadeInLeft" data-wow-delay="0.5s">
						<img src="assets/about_me.jpg" alt="" class="img-responsive" />
						<p>&nbsp;</p>
					</div>

					<div class="col-sm-5 entry-content wow fadeInRight" data-wow-delay="0.5s">
                       <p>Hello! My name is Rohit, and I’m a wedding photographer based in Northern California covering San Francisco/Bay Area, Napa Valley, Sacramento and  Lake Tahoe area. I studied electrical engineering from USC, but it was photography that amazed me when I bought my first camera in 2011 and from then onwards everything else seemed mediocre. There are so many variables in photography ranging from lighting, subject, composition, expressions and posing which makes no two days same and its a creative challenge everyday to come up with unique solution for every situation.
                       </p>

					   <p>

					   I like to capture not just the image but feelings and emotions at that moment, so  even after 20 years if you hold the picture you have memories to cherish, you have  a smile on your face looking at “the proposal”, you have tears in your eyes looking at “father’s speech”, you have a nostalgia of “craziness with bridesmaids/groomsmen” and a realization that “the  beautiful girl in gown” is actually you. Weddings are like dreamworld where everything is perfect, there are beautiful people all around, there is happiness, there is craziness, a few tears and at the end of the day  a Prince taking his Princess to a castle. As a boutique wedding photography we master in capturing  these meaningful, timeless moments.
                       </p>
					</div>

				</div>

			</div>
		</section>
		<!-- ========== About Me ENDS ========== -->
	



		<!-- ========== REVIEWS START ========== -->

		<section id="reviews">
			<div class="container text-center">
				<div class="row wow flipInX" data-wow-delay="0.5s">
					<div class="col-md-12">
						<h2>REVIEWS</h2>
						<h4>WHAT PEOPLE SAY ABOUT US</h4>
						<div class="divider"><i class="fa fa-quote-right"></i></div>
					</div>
				</div>
				<div class="row wow flipInX" data-wow-delay="0.5s">
					<div class="col-md-12">
						<div class="owl-carousel">
							<div class="item">
								<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada nisi sem, dignissim euismod erat imperdiet eget. Aliquam aliquet augue vitae fermentum sodales. Morbi bibendum tellus ac urna porttitor viverra. Nulla vel ultricies tortor. Pellentesque rhoncus quis lacus vitae fermentum. Aliquam scelerisque massa a metus commodo pretium. Duis libero justo, ullamcorper lacinia libero eu, pulvinar egestas justo.<small>Henry Jones, CEO, Corporation Ltd.</small></blockquote>
							</div>
							<div class="item">
								<blockquote>Donec in eros lobortis quam rutrum interdum. Etiam dapibus vehicula nunc a eleifend. Integer malesuada lorem tortor, eget interdum lacus bibendum vel. Aliquam erat volutpat. Fusce non arcu urna. Quisque velit magna, rhoncus quis est quis, ultricies viverra lorem. Pellentesque dignissim, ipsum quis suscipit condimentum, dui est fermentum tellus, a luctus libero dui sit amet justo.<small>Mary Collins, Director, Company Ltd.</small></blockquote>
							</div>
							<div class="item">
								<blockquote>Maecenas molestie nisi at orci sodales fringilla. Aenean bibendum sodales posuere. Vivamus in arcu vitae nibh varius consectetur. Pellentesque fringilla aliquam consequat. Fusce nec magna sed elit egestas volutpat ac vel magna. Nam tincidunt, ante sit amet dignissim cursus, lacus mi varius dolor, nec commodo lorem magna ut purus.<small>Peter Connor, Creative Director, Medium Enterprice</small></blockquote>
							</div>
							<div class="item">
								<blockquote>Mauris mattis nisi in pharetra tincidunt. Maecenas mattis lorem posuere metus pretium, a pharetra mi sodales. Donec varius aliquet erat et suscipit. Nullam mi quam, bibendum quis est ac, accumsan pulvinar quam. Mauris lacinia eros non turpis venenatis convallis. Nunc vitae varius ante. Suspendisse facilisis, ante sed malesuada pharetra, velit erat mollis mauris, vel aliquam mi mauris nec felis.<small>Alice Price, Chief of Marketing, Small Business</small></blockquote>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p><a href="#" class="btn btn-default btn-lg">BUY THIS THEME</a></p>
					</div>
				</div>
			</div>
		</section>

		<!-- ========== REVIEWS END ========== -->

		<!-- ========== PRICING STARTS ========== -->

		<section id="pricing">
			<div class="parallax" data-velocity=".4" data-fit="-700" style="background-image: url(http://placehold.it/1920x1080)"></div>
			<div class="tint"></div>
			<div class="container text-center">
				<div class="row wow bounceInUp" data-wow-delay="0.5s">
					<div class="col-md-12">
						<h2>PHOTO SESSIONS</h2>
						<h4>CHOOSE YOUR OPTION</h4>
						<div class="divider"><i class="fa fa-camera"></i></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia elementum velit, nec viverra nisi. Morbi gravida, massa sed dictum consectetur, turpis mi euismod elit, sit amet feugiat orci dui in felis. Duis purus ligula, consequat sit amet justo et, congue consectetur massa. Nullam adipiscing felis a sapien hendrerit ultrices. Curabitur fringilla sed odio eget tincidunt. Etiam quis sem ultrices, tincidunt leo sed, facilisis nunc. Proin vitae lectus diam. Nullam ut euismod tellus. Aliquam erat volutpat. Integer non elementum magna, eu tincidunt ante. Pellentesque vel orci augue. Donec eget lacus sit amet sapien posuere egestas. In quis mollis urna. Nam nec suscipit felis. In hac habitasse platea dictumst. Pellentesque id mauris orci.</p>
					</div>
				</div>
				<div class="row prices wow bounceInUp" data-wow-delay="0.5s">
					<div class="col-sm-4">
						<ul class="price-table first">
							<li class="price-title">Photography <span>
								
							</span></li>
							<li class="price-number">$1600 <span>Includes
								
							</span></li>
							<li> 8 Hours of Coverage</li>
							<li> 1 Photographer </li>
							<li> Engagement Session </li>
							<li> 3 Weeks from wedding for digital files</li>
							<li class="price-button"><a class="btn btn-primary btn-lg">SIGN UP</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="price-table">
							<li class="price-title">Photography & Videography <span>  </span></li>
							<li class="price-number">$4800 <span>Includes</span></li>
							<li> 8hrs of Coverage </li>
							<li> 2 photographers and videographers</li>
							<li> Engagement Session</li>
							<li> 3-5 mins wedding highlight film and 40mins full editorial film</li>
							<li class="price-button"><a class="btn btn-primary btn-lg">SIGN UP</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="price-table last">
							<li class="price-title">Ala Carte <span>
								
							</span></li>
							<li class="price-number"> Extras  <span></span></li>
							<li> Additional coverage at $300 per hour </li>
							<li> 12x12 Wedding album at $1400 </li>
							<li> Contact us for pricing of metallic and canvas prints </li>
							<li> 8X8 parent album at $650</li>
							<li class="price-button"><a class="btn btn-primary btn-lg">SIGN UP</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- ========== Pricing END ========== -->


		<!-- ========== CONTACT START ========== -->

		<section id="contact">
			<div class="parallax" data-velocity=".4" data-fit="-800" style="background-image: url(http://placehold.it/1920x1080)"></div>
			<div class="tint"></div>
			<div class="container">
				<div class="row wow flipInY" data-wow-delay="0.5s">
					<div class="col-md-12 text-center">
						<h2>STAY IN TOUCH</h2>
						<h4>DON'T HESITATE TO CONTACT US</h4>
						<div class="divider"><i class="fa fa-envelope"></i></div>
					</div>
				</div>
				<form role="form" name="contactform" action="process.php">
					<div class="row wow flipInY" data-wow-delay="0.5s">
						<div class="col-md-4 text-center" id="name-group">
							<input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name">
						</div>
						<div class="col-md-4 text-center" id="email-group">
							<input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
						</div>
						<div class="col-md-4 text-center" id="subject-group">
							<input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject">
						</div>
					</div>
					<div class="row wow flipInY" data-wow-delay="0.5s">
						<div class="col-md-12 text-center" id="message-group">
							<textarea class="form-control" id="inputMessage" name="inputMessage" rows="6" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row wow flipInY" data-wow-delay="0.5s">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-primary btn-lg">SUBMIT</button>
						</div>
					</div>
				</form>
				<div class="row wow bounceIn" data-wow-delay="0.5s">
					<div class="col-md-12 text-center">
						<a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
						<a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a href="#" target="_blank"><i class="fa fa-xing"></i></a>
						<a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</section>

		<!-- ========== CONTACT END ========== -->

		<!-- ========== FOOTER START ========== -->

		<footer>
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-12">
						<p>
							<span><i class="fa fa-map-marker fa-lg"></i>  Covering San Francisco/Bay Area, Napa Valley, Sacramento and Lake Tahoe area</span>
							<span><i class="fa fa-phone fa-lg"></i> <a href="tel:+1800555987">+1 213 300 1326</a></span>
							<span><i class="fa fa-envelope fa-lg"></i> <a href="mailto:name@domain.com">name@domain.com</a></span>
						</p>
						<p>&copy; 2016 Surreal Wedding Photography</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- ========== FOOTER END ========== -->

		<!-- Modernizr Plugin -->
		<script src="../js/modernizr.custom.97074.js"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="../js/jquery-1.10.2.min.js"></script>

		<!-- Bootstrap Plugins -->
		<script src="../js/bootstrap.min.js"></script>

		<!-- Retina Plugin -->
		<script src="../js/retina-1.1.0.min.js"></script>

		<!-- Superslides Plugin -->
		<script src="../js/jquery.easing.1.3.js"></script>
		<script src="../js/jquery.animate-enhanced.min.js"></script>
		<script src="../js/jquery.superslides.js"></script>

		<!-- Owl Carousel Plugin -->
		<script src="../js/owl.carousel.js"></script>

		<!-- Scrolly Plugin -->
		<script src="../js/jquery.scrolly.js"></script>

		<!-- MixItUp Plugin -->
		<script src="../js/jquery.mixitup.min.js"></script>

		<!-- Fancybox Plugin -->
		<script src="../js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>

		<!-- WOW Plugin -->
		<script src="../js/jquery.fancybox.js"></script>

		<!-- Contact form processing plugin -->
		<script src="../js/magic.js"></script>

		<!-- jQuery Settings -->
		<script src="../js/settings.js"></script>

	</body>
</html>